@import "tailwindcss";

body {
    font-family: "Inter", "Segoe UI", "Tahoma", "Arial", sans-serif;
    background-color: #f6f8fa;
}

.dark body {
    background-color: #18181b;
}

img[alt="placeholder"] {
    background: repeating-linear-gradient(
        45deg,
        #e0e7ff,
        #e0e7ff 10px,
        #c7d2fe 10px,
        #c7d2fe 20px
    );
}

button:focus {
    outline: none;
}

@keyframes light-flicker {
    0%,
    100% {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

@keyframes soft-sway {
    0%,
    100% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
}

.animate-light-flicker {
    animation: light-flicker 1.5s infinite;
}
.animate-soft-sway {
    animation: soft-sway 3s infinite ease-in-out;
}
